flask
flasgger
pymupdf
sentence-transformers
faiss-cpu
google-generativeai
python-dotenv
numpy
flask-cors
pdf2image
pytesseract
nltk
pillow
elasticsearch==8.15.0
python-logging-loki
ragas
datasets
langchain-google-genai